* {
	box-sizing: border-box;
}
body {
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	font-family: "M PLUS Rounded 1c", sans-serif;
}
.scalp {
	width: 100vw;
	justify-content: center;
}
.header h1 {
	font-family: "Varela Round", sans-serif;
	text-align: center;
	letter-spacing: 0.5em;
	font-size: 3em;
	padding: 0;
	background-image: linear-gradient(90deg, orange, red, purple);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.underline {
	display: flex;
	width: 100vw;
	justify-content: space-around;
}
#output {
	display: flex;
	flex-flow: row wrap;
	width: 100vw;
	padding: 0 25vw;
	justify-content: flex-start;
}
#dit {
	background-color: black;
	width: 30px;
	height: 30px;
	margin: 0 10px 40px 0;
	border-radius: 15px;
}
#dah {
	background-color: black;
	width: 90px;
	height: 30px;
	margin: 0 10px 40px 0;
	border-radius: 15px;
}
#space {
	background-color: white;
	width: 30px;
}
#howtoDesc {
	opacity: 0;
}
#howtoDesc ul {
	margin: 0;
	padding: 0;
}
#howtoDesc li {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
}
#howtoDesc div {
	text-align: center;
	padding-top: 10px;
	color: white;
	background-color: black;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	margin: 0;
}
.selection {
	display: flex;
	flex-flow: column wrap;
	height: 300px;
	align-content: space-around;
	justify-content: space-around;
}
.selection button {
	font-family: "Varela Round", sans-serif;
	font-size: 20px;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	outline: none;
}
.foot {
	text-align: center;
	padding: 0 80px;
}
.foot a {
	text-decoration: none;
	color: red;
}


.gameBoard{
height: 800px;
width: 1000px;
background-color: papayawhip
}
