.promptField {
	font-family: "Varela Round", sans-serif;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: 3em;
	align-self: center;
	justify-content: center;
	height: auto;
	border-style: solid;
	border-radius: 25px;
	padding: 25px;
}
.promptField p {
	position: relative;
	font-size: 3em;
	padding: 25px;
	margin: 0;
}

.promptOutputField {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-self: center;
	justify-content: center;
	width: 600px;
}
